@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body , html {
    font-family: 'Roboto', sans-serif;   
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.comment-boxes {
    width: 500px;
 height: 100px;
 -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
 background: #00c7ce;


}

.loader-bg{
    width : 100%; position : absolute ; height : 100vh; background : #4DB0EB; z-index : 10000;
}

.no-scroll{
     overflow: hidden;
}

.loader-bg img{
    display : block; margin : 40vh auto;
}

.bg-main {
     /*background-image : url('/img/bg_image.jpg');*/
     background-repeat: no-repeat; 
     background-size: 100% 100%; 
     width : 100%; 
     min-height : 100vh; 
     padding-top : 30px; 
     padding-bottom: 100px;
     
}

.bubble-main{
     max-width : 770px; 
     display : block ; 
     margin : 0 auto; 
     border : 3px solid #fff; 
     border-radius : 5px; 
     padding : 30px 20px; 
     margin-top : 20vh;
}

.bubble-main h1 {
    text-align : center; 
    font-size : 7em; 
    color : #69f0ae; 
    font-weight : 800; 
    font-family: 'Montserrat', sans-serif; 
    margin-top : 5px; 
}

.bubble-main p{
    color : #fff; 
    font-size : 1.5em; 
    text-align : center; 
    margin-top : 20px;
}

.count-outer{
    max-width : 770px; 
    display : block ; 
    margin : 0 auto; 
    height : 150px; 
    position : relative;
}

.count-outer img {
    position : absolute; 
    top : -61px; 
    right : 45%
}

.twitter-count{
    float: right;
}

.twitter-count h1{
    font-size : 7.5em; 
    color : #fff; 
    font-weight : 800; 
    margin-top : 20px;
    margin-bottom: 0px;
    text-align: end;
}

.twitter-count p{
    font-size : 1.3em; 
    color : #fff;
}

.twitter-count-logo{
    float: right;
}

.twitter-count-logo i{
    text-align: end;
}

.twitter-count-logo i{
    font-size : 3em; 
    color : rgba(255,255,255,0.4); 
    margin-top : 35px; 
    margin-right : 20px;
}

.steps-section{
    margin-top : 100px; 
    margin-bottom : 100px;
}

.sub-title{
    text-align : center;  
    font-size : 2em; 
    color : #29303a;
}

.twitter-box-border{
    max-width : 600px; 
    height : auto; 
    border : 1px solid #48a9e5; 
    border-radius : 5px; 
    display : block; 
    margin : 60px auto 100px auto;
}

.twitter-box-header{
    border-bottom : 1px solid #48a9e5; 
    position : relative; 
    background : #e6f0f6; 
    padding-top : 6px;
}

.twitter-box-header i{
    position : absolute; 
    right: 10px; 
    top: 10px; 
    color : #48a9e5;
}

.twitter-box-header p{
    color :  #47a9e8; 
    text-align : center; 
    font-size : 1.2em;
}

.twitter-textbox{
    border : 1px solid #b4e2ff; 
    border-radius : 3px;  
    margin : 15px 15px 5px 15px; 
    padding : 15px 10px;
    
    color :  #47a9e8; 
    font-size : 1.1em; 
    line-height : 1.7; 
    
}

.twitter-textbox-text{
    color :  #47a9e8; 
    font-size : 1.1em; 
    line-height : 1.7; 
    margin: 0px;
}

.twitter-controls-box{
    width : 100%; 
    padding : 5px 25px 10px 25px;
}

.control-img-1{
    float : left; 
    margin-top : 6px;
}

.control-img-2{
    float : right;
}

.steps {
   height : auto; width : 100%; 
}

.steps div{
    text-align : center;
}

.steps div p{
    color :  #000; 
    font-size : 1.2em; 
    line-height : 1.7; 
    margin: 0px; 
    margin-top : 15px; 
    color : #29303a;
}

.feed-section{
    min-height : 700px; 
    width : 100%; 
    background : #69f0ae;
    margin: 0;
    padding-bottom : 75px;
}

.twitter-feed{
    padding-top: 75px;
}

.twitter-feed-text{
    height : inherit; 
    padding-top : 200px;
}

.twitter-feed-text p{
    text-align : left; 
    color : #6b6b6b; 
    font-style: italic; 
    font-size : 2em; 
    font-weight : 300;  
    line-height : 1.5; 
}

.twitter-feed-text h3{
    color : #29303a; 
    text-align : left; 
    font-size : 3em; 
    font-weight : 800; 
    font-family: 'Montserrat', sans-serif; 
    max-width : 600px; 
    line-height : 1.5; 
}

.footer {
    width : 100%;  
    padding : 30px;
}

.footer p {
    text-align : center; 
    font-weight : 800; 
    color : #29303a;
}

.twitter-share-button{
    margin-top: 15px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.loader-animate{
    -webkit-animation: fade 0.7s linear;
    -moz-animation: fade 0.7s linear;
    animation: fade 0.7s linear;
}
@keyframes fade{
    0% { opacity:1; }
    100% { opacity:0; display: none; }
}
@-webkit-keyframes fade{
    0% { opacity:1; }
    100% { opacity:0; display: none; }
}




/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .steps div{
        padding-bottom : 25px;
    }
    
    .twitter-share-large{
        text-align: center;
    }
    
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

    .bubble-main h1 {
        font-size : 6em; 
    }
    
    .twitter-count h1{
        font-size : 6em; 
    }
   
    .twitter-feed-text p{
            font-size: 1.5em;
            text-align: center;
    }
    
    .twitter-feed-text h3{
            font-size: 1.5em;
            text-align: center;
            max-width: none;
    }
    
    .twitter-feed-text{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    
    .twitter-feed iframe{
        width: 100%!important;
    }
    
    
    
}

@media only screen and (max-width: 652px) {
    .bubble-main h1 {
        font-size : 4em; 
    }
    
     .twitter-count h1{
        font-size : 5em; 
    }
    
    .count-outer img {
        right : 65%
    }
    
    .bubble-main{
        margin-top: 90px;
    }
    
    .bg-main {
        height : 700px; 
    }
    
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    
    .bubble-main h1 {
        font-size : 2.6em; 
    }
    
    .bubble-main p {
        font-size : 1.2em; 
    }
    
    .twitter-count h1{
        font-size : 4em; 
    }
    
    .twitter-count p{
        font-size : 1.2em; 
    }
    
    .twitter-count-logo{
        display: none;
    }
    
    .control-img-1{
        display: none;
    }
}